{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="agar joshua" content="professional-ish website">

  <title>Agar Joshua</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static " vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static " vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static " css/resume.min.css" %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">AGAR JOSHUA</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static " img/48643686 (1).jpg" %}"
          alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Agar
          <span class="text-primary">Joshua</span>
        </h1>
        <div class="subheading mb-5">(254)706-023527·
          <a href="mailto:joshuaagarjj@gmail.com">joshuaagarjj@gmail.com</a>
        </div>
        <p>
          I am a software engineer who loves optimization ,system architecture, design, coding and product
          development.<br>
          eyes I'm interested in backend development and optimization ,system architecture and design ,machine learning and product development .
          seedling I’m currently learning how to build more robust and fast backend systems, and I am also working on a few machine learning projects.
          revolving_hearts I’m looking to collaborate on any interesting backend development and/or ML projects on PT or FT capacity; I'm a sucker for continually optimizing backend systems to make them efficient and have developed a love for ML.
          arrow_heading_up My current goal is to become an expert backend and ML engineer in 2 years; that is my current point of focus.
          mailbox Email me at : Email joshuaagarjj@gmail.com.
          <!-- I have a personal ethos of Authenticity, Intentionality and excellence.<br> -->
          I believe in simple solutions, simple code and simple products.<br>
          </br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/joshua-agar/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/agarjoshua">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/AgarJoshua">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">

        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3">Faculty Solutions</div>
            <p>
              Key Responsibilities:<br>
              1. Charged with the development of the backend systems that enable client’s seamless API
              integrations across the software product.<br>
              2. Testing and debugging various features in the software products of the company.<br>
              3. Aid in designing the backend systems that runs the organization's main product<br>
              <br>
              The technologies I use are:<br>
              Programming Languages: JavaScript<br>
              Frameworks and technologies : NextJs,VueJs<br>
              Version Control : Gitlab<br>
              Scripting : HTML, CSS<br>
              Databases: SQL, SQLite<br>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2021 - currently</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">


            <h3 class="mb-0">Software Engineer - Microservices Development (Intern)</h3>
            <div class="subheading mb-3">Safaricom PLC</div>
            <p>
              Key Responsibilities:<br>

              1. Develop digital products that are mobile, api and microservice driven.<br>
              2. Develop and support products that have been built using various tools along with creating CI/CD
              pipelines(Devops).<br>
              3. Create new ideas and demonstrate them in code ensuring code quality, understanding of the
              product.<br>
              4. Work with cross functional teams to ensure successful delivery of a product which includes other
              developers and product owners.<br>
              5. Ensuring all projects are delivered on time that has been agreed.<br>
              6. Making use of agile and scrum frameworks in project delivery.<br>
              7.Developing microservices using sprint, sprint security, Kubernetes and docker.<br>



              The technologies I used are:<br>
              Languages: Java<br>
              Frameworks and Tools: sprint, sprint security, Kubernetes and docker<br>
              Other tools: Jira for project management<br>
            </p>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2022 – April 2022</span>
          </div>
        </div>



        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">


            <h3 class="mb-0">Software Development Engineer Test(Intern)</h3>
            <div class="subheading mb-3">Safaricom PLC</div>
            <p>
              Key Responsibilities:<br>

              1. Manual testing of web and mobile applications.<br>
              2. Drawing up test plans, test scenarios and test cases.<br>
              3. Development of technical documentation (within the required quality assurance), Test
              documentation support.<br>
              4. Interaction with the technical support team and reproducing user problems.<br>
              5. Writing reports and conclusions about software testing and UI/UX testing.<br>
              6. Working simultaneously with both testing and development teams to ensure high Q.A standards.<br>


              The technologies I used are:<br>
              Languages: Python, Java<br>
              Frameworks and Tools: Selenium, Gherkins, Cucumber, SoapUI, Behave, Testrail<br>
              Other tools: Jira for project management<br>
            </p>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2022 – March 2022</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Developer</h3>
            <div class="subheading mb-3">BusinessCom Consulting Services</div>
            <p>
              Key Responsibilities:<br>
              1. Be the lead in developing and implementing software projects assigned to me - having primary input in
              design,implementing and managing projects, interacting with the clients one on one, and coding up all the
              system requirements using language agnostic implementations.<br>
              2. I was responsible for making sure that all the code my co-team members and I wrote for the projects I
              was in charge of got pushed or deployed on time, to keep up with the predetermined schedule for each
              project.<br>
              3.Testing and optimizing code to ensure that they are at par with company and industry standard - this
              would include correct and standard ways of code commenting ,code writing e.g tabs vs spaces, Pythonic
              coding practices, ES-7, ES-10 standards and code testing before each deployment or push to git.<br>
              4. Researching and implementing the most optimum solutions for in-house products - this would entail
              looping through code that had been written before and making it faster,for instance introducing
              multi-threading in a python application or optimizing or enhancing the search parameters to increase
              accuracy for a search oriented in-house product.<br>
              <br>
              The technologies I used are:<br>
              Programming Languages: Python, JavaScript<br>
              Frameworks and technologies : FastAPI, Vuejs, React, Strapi,Selenium,Scrappy<br>
              Cloud : Google Cloud Platform (G.C.P)<br>
              Version Control : Git<br>
              Scripting : HTML, CSS, Bootstrap<br>
              Databases: PostgreSQL, SQL, SQLIte<br>
            </p>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2021 - September 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Developer</h3>
            <div class="subheading mb-3">freelance</div>
            <p>I capitalized on my knowledge of business processess and skills to be able to develop software solutions
              and websites that are value driven and can generate revenue as well as help the company or individual I
              work with gain exposure and optimized results</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2019 - currently</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Jommo Kenyatta University of agriculture and Technology</h3>
            <div class="subheading mb-3">Bachelor of Business Information Technology</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2016 - 2021</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Technical Skills</h2>

        <div class="subheading mb-3">Technical Skills</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Programming Languages: Python, JavaScript, Dart
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Frameworks and Other technologies: Django, Django Rest API, FastAPI, Vuejs, Flutter, CSS, HTML, Bootstrap,
            Git
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Databases: PostgreSQL, SQL, SQLIt
          </li>
        </ul>
        <div class="mt-4">
          <div class="subheading">You can check out my code here: <a href="https://github.com/agarjoshua"><i
                class="fab fa-github"></i></a></div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
      <div class="w-100">
        <h2 class="mb-5">Contact Me</h2>
        <p>You can reach me through email</p>
        <p>joshuaagarjj@gmail.com</p>
        <p>You can also reach out to me through Twitter <a
            href="https://twitter.com/messages/compose?recipient_id=4342724607" class="btn btn-link">Here</a>...as am
          often found there</p>
      </div>
    </section>

    <hr class="m-0">

  </div>

  <!-- Bootstrap core JavaScript -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static " vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static " vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static " vendor/jquery-easing/jquery.easing.min.js" %}"></script>


  <!-- Custom scripts for this template -->
  <script src="{% static " js/resume.min.js" %}"></script>

</body>

</html>